<!-- -->

<!-- 启动所有相关的节点-->
<launch>
  <!-- 硬件驱动节点  amcl节点  map_server节点-->
  <include file="$(find amcl)/launch/amcl_with_map.launch">
      <!-- 设置机器人在地图中的初始位置，用于初始化导航系统-->
  	<arg name="initial_pose_x" default="0"/>
  	<arg name="initial_pose_y" default="0"/>
  	<arg name="initial_pose_a" default="0"/>

　　	<!-- 设置地图：修改成　amcl/map　下的目标地图-->
  	<arg name="map_name" default="my_map"/> 
  </include>

  <node name="lidar2world" pkg="lidar2world_node" type="lidar2world_node" output="screen" >
  </node>

  <include file="$(find plan_manage)/launch/16_lidar.launch">
  </include>

  <include file="$(find plan_manage)/launch/rivz.launch">
  </include>




</launch>
