<robot name="my_car_move" xmlns:xacro="http://wiki.ros.org/xacro">

    <!-- 传动实现:用于连接控制器与关节 -->
    <xacro:macro name="joint_trans" params="joint_name">
        <!-- Transmission is important to link the joints and the controller -->
        <transmission name="${joint_name}_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${joint_name}">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            </joint>
            <actuator name="${joint_name}_motor">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>

    <!-- 每一个驱动轮都需要配置传动装置 -->
    <xacro:joint_trans joint_name="wheel1_joint" />
    <xacro:joint_trans joint_name="wheel2_joint" />
    <xacro:joint_trans joint_name="wheel3_joint" />
    <xacro:joint_trans joint_name="wheel4_joint" />

    <!-- 控制器 -->
    <gazebo>
        <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
            <updateRate>100.0</updateRate>
            <leftFrontJoint>wheel1_joint</leftFrontJoint>
            <rightFrontJoint>wheel2_joint</rightFrontJoint>
            <leftRearJoint>wheel3_joint</leftRearJoint>
            <rightRearJoint>wheel4_joint</rightRearJoint>
            <wheelSeparation>0.491</wheelSeparation> <!-- 车轮间距 -->
            <wheelDiameter>0.16</wheelDiameter> <!-- 车轮直径 -->
            <robotBaseFrame>base_link</robotBaseFrame> <!-- 根坐标系 -->
            <torque>60</torque>
            <commandTopic>cmd_vel</commandTopic>
            <topicName>cmd_vel</topicName>
            <odometryFrame>odom</odometryFrame> 
            <odometryTopic>odom</odometryTopic> <!-- 里程计话题 -->
            <broadcastTF>1</broadcastTF>
        </plugin>
    </gazebo>

</robot>

