<robot name="thunder_mini" xmlns:xacro="http://wiki.ros.org/xacro">

  <link
    name="laser_link">
    <inertial>
      <origin
        xyz="-0.00146087421950719 0.000101983715002861 -0.00127721833293417"
        rpy="0 0 0" />
      <mass
        value="0.044388682164426" />
      <inertia
        ixx="1.94124469268507E-05"
        ixy="0"
        ixz="0"
        iyy="2.00725112451477E-05"
        iyz="0"
        izz="3.74036049667301E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description_pkg/urdf/meshes/laser_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description_pkg/urdf/meshes/laser_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="laser_joint"
    type="fixed">
    <origin
      xyz="0.29396 -0.0002012 0.2748"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="laser_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="laser1_link">
    <inertial>
      <origin
        xyz="0.00146087421962843 -0.00010198371502093 -0.00127721833302187"
        rpy="0 0 0" />
      <mass
        value="0.0443886821646505" />
      <inertia
        ixx="1.94124469268663E-05"
        ixy="0"
        ixz="0"
        iyy="2.00725112453246E-05"
        iyz="0"
        izz="3.74036049669023E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description_pkg/urdf/meshes/laser1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description_pkg/urdf/meshes/laser1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="laser1_joint"
    type="fixed">
    <origin
      xyz="-0.29773 0.0002012 0.2748"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="laser1_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="imu_link">
    <inertial>
      <origin
        xyz="0.209198934075908 -0.000607605376074091 0.294376887040359"
        rpy="0 0 0" />
      <mass
        value="0.0693629310899219" />
      <inertia
         ixx="0.0010816211686931"
        ixy="0"
        ixz="0"
        iyy="0.00017308018129249"
        iyz="0"
        izz="0.000933725433125725" /> 
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description_pkg/urdf/meshes/imu_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description_pkg/urdf/meshes/imu_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="imu_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="imu_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="soanr1_link">
    <inertial>
      <origin
        xyz="0.00232380164713103 4.97407436452074E-05 -0.00011878323224486"
        rpy="0 0 0" />
      <mass
        value="0.00756121250251479" />
      <inertia
        ixx="1.16303725809807E-06"
        ixy="0"
        ixz="0"
        iyy="3.94143735691455E-07"
        iyz="0" 
        izz="1.23807581825552E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description_pkg/urdf/meshes/soanr1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description_pkg/urdf/meshes/soanr1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="soanr1_joint"
    type="fixed">
    <origin
      xyz="0.3315 0.1145 0.32012"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="soanr1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="soanr2_link">
    <inertial>
      <origin
        xyz="0.0040201614230857 -5.8840951909403E-05 0.000177258965029251"
        rpy="0 0 0" />
      <mass
        value="0.00639181251152764" />
      <inertia
        ixx="1.05471282859906E-06"
        ixy="0"
        ixz="0"
        iyy="2.3777827587913E-07"
        iyz="0"
        izz="1.04167108442989E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description_pkg/urdf/meshes/soanr2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description_pkg/urdf/meshes/soanr2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="soanr2_joint"
    type="fixed">
    <origin
      xyz="0.332 -0.1145 0.31982"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="soanr2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="soanr3_link">
    <inertial>
      <origin
        xyz="-5.88409519093868E-05 -0.0040201614230857 0.000177258965029251"
        rpy="0 0 0" />
      <mass
        value="0.00639181251152764" />
      <inertia
        ixx="2.3777827587913E-07"
        ixy="0"
        ixz="0"
        iyy="1.05471282859906E-06"
        iyz="0"
        izz="1.04167108442989E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description_pkg/urdf/meshes/soanr3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description_pkg/urdf/meshes/soanr3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="soanr3_joint"
    type="fixed">
    <origin
      xyz="0 -0.253 0.33489"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="soanr3_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="soanr4_link">
    <inertial>
      <origin
        xyz="-0.0040201614230857 5.88409519093891E-05 0.000177258965029251"
        rpy="0 0 0" />
      <mass
        value="0.00639181251152764" />
      <inertia
        ixx="1.05471282859906E-06"
        ixy="0"
        ixz="0"
        iyy="2.3777827587913E-07"
        iyz="0"
        izz="1.04167108442989E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description_pkg/urdf/meshes/soanr4_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description_pkg/urdf/meshes/soanr4_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="soanr4_joint"
    type="fixed">
    <origin
      xyz="-0.332 -0.1145 0.31982"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="soanr4_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="soanr5_link">
    <inertial>
      <origin
        xyz="-0.0040201614230857 5.8840951909403E-05 0.000177258965029251"
        rpy="0 0 0" />
      <mass
        value="0.00639181251152764" />
      <inertia
        ixx="1.05471282859906E-06"
        ixy="0"
        ixz="0"
        iyy="2.37778275879129E-07"
        iyz="0"
        izz="1.04167108442989E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description_pkg/urdf/meshes/soanr5_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description_pkg/urdf/meshes/soanr5_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="soanr5_joint"
    type="fixed">
    <origin
      xyz="-0.332 0.1145 0.31982"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="soanr5_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="soanr6_link">
    <inertial>
      <origin
        xyz="5.88409519093891E-05 0.00402016142308581 0.000177258965029251"
        rpy="0 0 0" />
      <mass
        value="0.00639181251152764" />
      <inertia
        ixx="2.3777827587913E-07"
        ixy="0"
        ixz="0"
        iyy="1.05471282859906E-06"
        iyz="0"
        izz="1.04167108442989E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description_pkg/urdf/meshes/soanr6_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description_pkg/urdf/meshes/soanr6_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="soanr6_joint"
    type="fixed">
    <origin
      xyz="0 0.253 0.33489"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="soanr6_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="-0.00474157823318871 -2.05039866606006E-05 -8.24957890124822E-07"
        rpy="0 0 0" />
      <mass
        value="0.0151822712495218" />
      <inertia
        ixx="3.66800498969437E-05"
        ixy="0"
        ixz="0"
        iyy="1.00726419959806E-06"
        iyz="0"
        izz="3.59333104352776E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description_pkg/urdf/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description_pkg/urdf/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0.3442 0 0.31997"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>


  <link name="base_footprint">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <box size="0.001 0.001 0.001" />
    </geometry>
  </visual>
  </link>
  
  <joint name="base_footprint_joint" type="fixed">
    <origin xyz="0 0 0.033" rpy="0 0 0" />        
    <parent link="base_footprint"/>
    <child link="base_link" />
  </joint> 

    <gazebo reference="wheel1_link">
        <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="wheel2_link">
        <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="wheel3_link">
        <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="wheel4_link">
        <material>Gazebo/Grey</material>
    </gazebo>
   

</robot>

